<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


	<!-- Fullcalendar -->
<script type="text/javascript"
     src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js">
</script>
<link rel="stylesheet" type="text/css"
     href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css"
/>
<link rel="stylesheet" type="text/css"
     href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.print.css" media='print' />

	<!-- /Fullcalendar -->

	<!-- time picker -->
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
	</head>

<body>
<div class="container">


<h1>Meeting Arranger</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if g.proposal is defined and session.arranger is defined %}

  {% if session.primaryEmail == session.arranger.creator %}
	Currently have responses from:
	{% for key, value in session.arranger.busyList.items() %}
	<br>
	{{key}}
	{% endfor %}
	
	<h3>Potential Meeting Times</h3>
	  {% for busyEvent in g.agenda if busyEvent.summary is defined %}
	  <div class="row" style="color:{% if busyEvent.summary == "Available" %}green{% else %}red{% endif %};">
		<div class="col-md-2">
		{% if busyEvent.calendar is defined %}
		 {{ busyEvent.calendar }}
		{% endif %}

		  </div>
		<div class="col-md-4">
			{{ busyEvent.formattedDate }}
		  </div>
		<div class="col-md-4">
			{{ busyEvent.summary }}
		  </div>
	  </div>
	{% endfor %}
	<br>
	<h3>Meeting Specifics</h3>
	<table border="1">
		<tr>
			<td>Summary:</td>
			<td><input type="text" id="summary" name="summary" value="" />
		</tr>
		<tr>
			<td>Description:</td>
			<td><input type="text" id="description" name="description" value="" />
		</tr>
		<tr>
			<td>Location:</td>
			<td><input type="text" id="location" name="location" value="" />
		</tr>
		
		
	</table>
	  <script>
  $( function() {
	  var busyList = {{ g.agenda|tojson }};
	  var allowedDays = [];
	  for (index = 0; index < busyList.length; ++index) {
		  var modifiedDate = $.datepicker.formatDate('yy-mm-dd', new Date(busyList[index]['start']));
		  if(allowedDays.indexOf(modifiedDate) == -1) allowedDays.push(modifiedDate);
	  }
	$('#datepicker').datepicker({
	    beforeShowDay: function(date){
		var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
		return [ allowedDays.indexOf(string) != -1 ]
	    },
	   onSelect: function(dateText, inst) {
		var timeRanges = [];
		for (index = 0; index < busyList.length; ++index) {
		  var modifiedDate = $.datepicker.formatDate('mm/dd/yy', new Date(busyList[index]['start']));
		  if(modifiedDate == dateText && !('summary' in busyList[index])) {
			  timeRanges.push([getTime(new Date(busyList[index]['start'])), getTime(new Date(busyList[index]['end']))]);
		  }
	     	}
		   $('#timepickerSTART').parent().show();
		 $('#timepickerSTART').timepicker('option', { 'disableTimeRanges': timeRanges });
	  }
	});

		  $('#timepickerSTART').timepicker({
			'step': 10,
			 'minTime': formatTime($('#fromTime').val()),
			 'maxTime': formatTime($('#toTime').val())
			  
		  });
		  function formatTime(t) {
			var split = t.split(':');
			var hours = parseInt(split[0]);
			var ext;
			if(hours >= 12) ext = 'PM';
			else ext = 'AM';
			return hours + ':' + split[1] + ext;  
		  }
		  function getTime(date) {
		    var hours = date.getHours(),
			minutes = date.getMinutes(),
			ampm = hours >= 12 ? 'pm' : 'am';

		  hours = hours % 12;
		  hours = hours ? hours : 12;
		  minutes = minutes < 10 ? '0'+minutes : minutes;

		  return hours + ':' + minutes + ampm;
		}
  } );
  </script>
<body>
 
<p>Meeting Date: <input type="text" id="datepicker"></p>
	<p style="display:none;">Meeting Start Time: <input type="text" name="timepickerSTART" id="timepickerSTART"></p>
	<p style="display:none;">Meeting End Time: <input type="text" name="timepickerEND" id="timepickerEND"></p>
	<input type="button" id="setmeeting" name="setmeeting" value="Send Meeting Invitations" />
  {% endif %}
	
	
<h3>Date range for meeting proposed by {{ session.arranger.creator }}</h3>
<form action="/setrange" method="post">
Date Range: <input type="text" id="daterange" name="daterange" size="12"
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" value="{{session.arranger.daterange}}" readonly="readonly">
<br><br>
From: <input type="time" name="fromTime" id="fromTime" value="{{ session.arranger.timerange.0 }}" readonly="readonly"/> to 
	 <input type="time" name="toTime" id="toTime" value="{{ session.arranger.timerange.1 }}" readonly="readonly"/>
	<br>
	<br>
	<input type="submit" value="Get Calendars" />
	<br><br>
{% else %}
<h2>Date range for meeting</h2>
  <form action="/setrange" method="post">
  Date Range: <input type="text" id="daterange" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<br /><input type="submit" value="Apply date range" />

<br><br>
From: <input type="time" name="fromTime" id="fromTime" value="{{ session.timerange.0 }}" /> to 
	 <input type="time" name="toTime" id="toTime" value="{{ session.timerange.1 }}"/>
<br><input type="submit" value="Choose time range" />
	
</form>
{% endif %}

{% if session.calendarList is defined %}
	<h2>Select Busy Calendars</h2>
  <div class="row">
  {% for cal in session.calendarList if cal.selected %}
          <div class="col-md-4">
	  <input type="checkbox" id="calendarList" name="calendarList[]" value="{{ cal.id }}" /> {{ cal.summary }}
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
<br><input id="blockBusy" name="blockBusy" type="button" value="Block busy calendars" />

{% endif %}

<span id="busyEvents" style="display:None;">
	<h3>Busy Times:</h3>
	
	<span id="eventsList">
	
	</span>
<!--	<h3>Busy Times:</h3>
  {% for busyEvent in g.busyEvents %}
  <div class="row" style="color:{% if busyEvent.summary == "Available" %}green{% else %}red{% endif %};">
	<div class="col-md-2">
	{% if busyEvent.calendar is defined %}
	 {{ busyEvent.calendar }}
	{% endif %}
			
	  </div>
	<div class="col-md-4">
		{{ busyEvent.formattedDate }}
	  </div>
	<div class="col-md-4">
		{{ busyEvent.summary }}
	  </div>
  </div>
{% endfor %}
-->
	<br>
	<span align="center">
{% if g.proposal is defined %}
	<input type="button" id="setavailability" name="setavailability" value="Set Availability" />
		<span id="response"></span>
{% else %}
		<input type="button" id="createProposal" name="createProposal" value="Create Meeting Proposal" />
		<br>
		Proposal Link: <input type="text" readonly="readonly" onClick="this.select();" id="proposalLink" name="proposalLink" style="display:hidden;" value="" />
{% endif %}
	</span>

	<br>
</span>
	
<script>
$(function() {
	$('#setmeeting').on('click', function() {
		$.ajax({
			method: "POST",
			url: "/setmeeting",
			data: {
			},
			dataType: 'json',
			success:function(result) {
				alert('done');
			}
		});
	});
	$('#blockBusy').on('click', function() {
		var dataArr = [];
		$("input[name='calendarList[]']:checked").each(function(k,v) {
			dataArr.push($(v).val());
		});
		$.ajax({
			method: "POST",
			url: "/selectcalendars",
			data: {
				'calendarList': dataArr
			},
			dataType: 'json',
			success:function(result) {
				var htmlContent = "";
				for (var i = 0; i < result['returnData']['busyEvents'].length; i++) {
					busyEvent = result['returnData']['busyEvents'][i];
					htmlContent += '<div class="row" style="color:' + ((busyEvent['summary'] == "Available")?'green':'red') +';">';
					htmlContent += '<div class="col-md-2">' + (('calendar' in busyEvent)?busyEvent['calendar']:'') + '</div><div class="col-md-4">' + busyEvent['formattedDate'] + '</div><div class="col-md-4">' + busyEvent['summary'] + '</div></div>';
				}
				$('#eventsList').html(htmlContent);
				$('#busyEvents').show();
			}
		});
	});
	
	$('#createProposal').on('click', function() {
		$("#createProposal").attr('disabled','disabled');
		$.ajax({
			method: "POST",
			url: "/createproposal",
			data: {},
			dataType: 'json',
			success:function(result) {
				if (typeof location.origin === 'undefined')
    					location.origin = location.protocol + '//' + location.host;
				$('#proposalLink').val(location.origin + "/arranger/" + result['returnData'] + "/");
				$('#proposalLink').show();
			}
		});
	});
	$('#setavailability').on('click', function() {
		$.ajax({
			method: "POST",
			url: "/setavailability",
			data: {},
			dataType: 'json',
			success:function(result) {
			}
		});
		$('#response').html('Your availability has been set.');
	});
});
</script>
  </div>  <!-- container (for bootstrap) -->
  </body> </html>
